<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Movement Rules -->
	<bean name="directionHandler" class="br.com.danielhabib.core.rules.DirectionHandler" scope="prototype">
		<property name="direction" value="RIGHT"/>
		<property name="directionsMap">
			<util:map id="directionsMap" map-class="java.util.HashMap"
				key-type="br.com.danielhabib.core.rules.Direction" value-type="br.com.danielhabib.core.rules.Direction">
				<entry key="RIGHT" value="UP" />
				<entry key="UP" value="LEFT" />
				<entry key="LEFT" value="DOWN" />
				<entry key="DOWN" value="RIGHT" />
			</util:map>
		</property>
	</bean>
	
	<!-- Component Builders -->
	<bean name="componentBuilder" class="br.com.danielhabib.core.builder.PsicoComponentBuilder">
		<property name="map">
			<util:map id="componentBuilderMap" map-class="java.util.HashMap" key-type="java.lang.Character" value-type="br.com.danielhabib.core.builder.ATypeBuilder">
			    <entry key="w" value-ref="wallBuilder"/>
			    <entry key="o" value-ref="ballBuilder"/>
			    <entry key="g" value-ref="goalBuilder"/>
			</util:map>
		</property>
	</bean>
	
	<bean name="goalBuilder" class="br.com.danielhabib.core.builder.GoalBuilder">
		<constructor-arg ref="goalColorBuilder" />
	</bean>	
	
	<bean name="ballBuilder" class="br.com.danielhabib.core.builder.BallBuilder">
		<constructor-arg ref="ballColorBuilder" />
	</bean>

	<bean name="wallBuilder" class="br.com.danielhabib.core.builder.WallBuilder">
		<constructor-arg ref="wallColorBuilder" />
	</bean>


	<!-- Color Builders -->
	<bean name="wallColorBuilder" class="br.com.danielhabib.core.builder.ColorBuilder">
		<constructor-arg>
			<list>
				<util:constant static-field="java.awt.Color.BLUE" />
				<util:constant static-field="java.awt.Color.YELLOW" />
				<util:constant static-field="java.awt.Color.ORANGE" />
				<util:constant static-field="java.awt.Color.RED" />
				<util:constant static-field="java.awt.Color.CYAN" />
				<util:constant static-field="java.awt.Color.GREEN" />
			</list>
		</constructor-arg>
	</bean>

	<bean name="ballColorBuilder" class="br.com.danielhabib.core.builder.ColorBuilder">
		<constructor-arg>
			<list>
				<util:constant static-field="java.awt.Color.BLUE" />
				<util:constant static-field="java.awt.Color.RED" />
				<util:constant static-field="java.awt.Color.ORANGE" />
				<util:constant static-field="java.awt.Color.CYAN" />
				<util:constant static-field="java.awt.Color.GREEN" />
				<util:constant static-field="java.awt.Color.YELLOW" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean name="goalColorBuilder" class="br.com.danielhabib.core.builder.ColorBuilder">
		<constructor-arg>
			<list>
				<util:constant static-field="java.awt.Color.ORANGE" />
				<util:constant static-field="java.awt.Color.BLUE" />
				<util:constant static-field="java.awt.Color.YELLOW" />
				<util:constant static-field="java.awt.Color.GREEN" />
				<util:constant static-field="java.awt.Color.CYAN" />
				<util:constant static-field="java.awt.Color.RED" />
			</list>
		</constructor-arg>
	</bean>
	
	

</beans>